<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.browserstack.startstopserver</string>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>UserName</key>
  <string>Aravindh</string>
  <key>ProgramArguments</key>
  <array>
  <string>/usr/local/bin/ruby</string>
  <string>/Users/Aravindh/start_stop_server/app.rb</string>
  <string>-p</string>
  <string>8000</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/Aravindh/start_stop_server</string>
  <key>StandardOutPath</key>
  <string>/Users/Aravindh/start_stop_server/out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/Aravindh/start_stop_server/err.log</string> 
</dict>
</plist>
